
.right-btn {
}

.deconnexion-btn {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  height: 60px;
  padding: 12px 1%;
  width: 100%;
  align-items: baseline;
  top: 0;
}

.commande-div {
  display: flex;
  align-items: baseline;
  width: 100%;
  align-content: space-around;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item {
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
