{{page-title "Order"}}
<h1> COMMANDE </h1>

<ul>
  {{#each @model.orders as |order|}}
      <li>{{order.dateCreation}}
       {{#each order.orderdetails as |orderdetail|}}
          {{orderdetail.quantity}}
       {{/each}}
      </li>
    {{/each}}

</ul>
{{outlet}}
